*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e5e5;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
}

#color-palette {
  z-index: 1;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  box-shadow: 0 0 2px 2px black;
  border-radius: 20px;
}

.color {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.color.svg {
  padding: 15%;
}

.color.svg svg {
  transition: transform 200ms ease-in-out;
}

.color.svg:hover svg {
  transform: rotate(360deg);
}

.color.active,
.color:hover {
  outline: 1px solid black;
}

.color.eraser {
  position: relative;
}

.color.eraser p {
  position: absolute;
  top: calc(100% + 0.2rem);
  left: -50%;
  white-space: nowrap;
  background-color: #e5e5e5;
  border: 1px solid black;
  z-index: 1;
  padding: 0.5rem;
  border-radius: 10px;
  display: none;
}

.color.eraser:hover p {
  display: block;
}

.slider-wrapper {
  width: 200px;
  margin: 0 auto;
}

input[type="range"] {
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

#canvas {
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  box-shadow: 0 0 2px 2px black;
  user-select: none;
  position: relative;
}

#canvas-size {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  background-color: #e5e5e5;
}

.pixel {
  background-color: transparent;
  transition: background-color 100ms ease-in-out;
}

footer {
  background-color: black;
  text-align: center;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  border-radius: 50rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a i {
  transition: transform 200ms ease-in-out;
}

footer a:hover i {
  transform: rotate(360deg);
}
